/*GRID*/

.grid-container {
	display: grid;
	margin: 40px 0 40px 0;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(3,200px);
	gap: 1px 1px;
	text-align: center;
	justify-content: stretch;
	font-size: 1.5rem;
	grid-template-areas:
	"quienesSomos quienesSomos quienesSomos quienesSomos"
	"preguntasFrec preguntasFrec preguntasFrec preguntasFrec"
	"metas metas metas metas";
}

.quienesSomos {
	grid-area: quienesSomos;
	background-color: #5e5e5e;
}
.preguntasFrec {
	grid-area: preguntasFrec;
	background-color: #6f6f6f;
}
.metas {
	grid-area: metas;
	background-color: #828282;
}
